.grid-container {
  display: grid;
  grid-template-columns: 1fr 564px 72px 564px 1fr;
  grid-template-rows: 675px 50px;
}

body {
  background-color: #6b7f1c;
}

#shrek {
  grid-area: 1 / 2 / 2 / 4;
}

button {
  color: white;
  font-family: sans-serif;
  font-size: 18pt;
  text-shadow:
    -1px -1px black,
    -1px 1px black,
    1px -1px black,
    1px 1px black;
  background-color: #badb34;
  transition: 0.5s;
}

button:hover {
  background-color: black;
}

#next {
  border-width: 0px;
  grid-area: 2 / 4 / 3 / 5;
}

#previous {
  border-width: 0px;
  grid-area: 2 / 2 / 3 / 3;
}

#block {
  grid-area: 2 / 3 / 3 / 4;
  background-color: #badb34;
  border-left-width: 1px;
  border-left-color: #768c21;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-color: #768c21;
  border-right-style: solid;
}

#imagenumber {
  position: relative;
  top: 10px;
  display: block;
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 18pt;
  text-shadow:
    -1px -1px black,
    -1px 1px black,
    1px -1px black,
    1px 1px black;
  align-self: center;
  justify-self: center;
}
