body {
  background-image: url(http://i.imgur.com/CuShj4j.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #937f52;
  background-attachment: fixed;
}

a {
  color: white;
  font-family: comic;
  font-size: 15pt;
  max-width: 300px;
  text-shadow:
  -1px -1px black,
  -1px 1px black,
  1px -1px black,
  1px 1px black;
}

a:hover {
  background-color: white;
  color: red;
}

p.shrek {
  color: white;
  font-family: comic;
  font-size: 15pt;
  max-width: 300px;
  text-shadow:
  -1px -1px black,
  -1px 1px black,
  1px -1px black,
  1px 1px black;
}
